* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background: rgb(28, 27, 29);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 40px;
  justify-content: space-between;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(236, 236, 236);
}

.header h1 {
  font-size: 21px;
}
